Source: libjps3d
Priority: optional
Maintainer: Brian Coltin <nospam@nospam.org>
Build-Depends: debhelper (>=9), cmake (>=3.5), libeigen3-dev (>=3.2), libvtk9-dev (>=9.1), libboost-filesystem-dev (>=1.74), libboost-system-dev (>=1.74), libyaml-cpp-dev (>=0.7.0)
Standards-Version: 3.9.6
Section: libs
Homepage: https://github.com/mwatterson/jps3d
#Vcs-Git: git://anonscm.debian.org/collab-maint/libjps3d.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/libjps3d.git

Package: libjps3d-dev
Section: libdevel
Architecture: any
Depends: libjps3d0 (= ${binary:Version}), libvtk9-dev (>=9.1), libboost-filesystem-dev (>=1.74), libboost-system-dev (>=1.74), libyaml-cpp-dev (>=0.7.0), ${misc:Depends}
Description: Jps3d.
 Jps3d.

Package: libjps3d0
Architecture: any
Depends: libvtk9.1 (>= 9.1), libboost-filesystem1.74.0 (>= 1.74), libboost-system1.74.0 (>= 1.74), libyaml-cpp0.7 (>= 0.7), ${shlibs:Depends}, ${misc:Depends}
Description: Jps3d.
 Jps3d.
